/* Font */
body{
    font-family: 'poppins', sans-serif;
    color: #ffffff;
    line-height: 1.6;
}

/* Warna */
:root {
    --maroon-nd: #4d120e;
    --putih-nd: #fcfbf2;
    --kuning-nd: #ffde59;
}

/* Navbar */
.navbar {
    background-color: var(--maroon-nd) !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .nav-link {
    color: var(--putih-nd) !important;
    font-weight: 600;
}

.nav-link:hover {
    color: var(--kuning-nd) !important;
}

/* Hero Section */
main{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Footer */
footer {
    background-color: var(--putih-nd);
    color: var(--maroon-nd);
    padding: 30px 0;
}

/* Responsiveness */
.btn-primary {
    background-color: var(--maroon-nd);
    border: none;
    transition: transform 0.3s ease;
}

.btn-primary:hover {
    transform: translateY(-3px);
}